* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    position: relative;
    left: 0;
    top: 0;
    width: 1005;
    height: 80px;
    scroll-snap-align: start;
}

header h4 {
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
}

/* Animations */

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}


.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;

}


.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* Scroll snap */

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

html {
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/* Page Projet */

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    position: relative;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;

}

.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.card .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #a51e78;
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.card:hover .circle:before {
    background: #0065c3;
    clip-path: circle(400px at center);
}

.card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s;
}

.card:hover img {
    left: 72%;
    height: 500px;
}

.card .content 
{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card:hover .content 
{
    left: 0;
    opacity: 1;
    visibility: visible;
}

.card .content h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 5px;
}

.card .content p {
    color: #ffffff;
}

.card .content a {
    position: relative;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    background: #ffffff;
    color: #111;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
} 

@media (max-width: 991px)
{
    .card
    {
        width: auto;
        max-width: 350px;
        align-items: flex-start;
        margin: 10px;
    }
    .card:hover{
        height: 600px;
    }
    .card .content {
        width: 100%;
        left: 0;
        padding: 30px;
    }
    .card img 
    {
        top: 70%;
        left: 50%;
        height: 300px;
    }
}

@media (max-width: 420px)
{
    .card .content {
        padding: 20px;
    }
}